h1	{
	color: #6CA0C2;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	font-style: oblique;
	font-size: 37px;
}
h3	{
	color: #E3A7E2;
	text-decoration: underline;
	text-decoration-color: #E3A7E2;
	text-align: left;
	font-size: 11px;
}
h4	{
	color: #5958A0;
	font-family: "Lucida Console", Monaco, monospace;
	border: 5px black dotted;
	padding: 10px;
	margin: 30px;
}
img	{
	border: 15px;
	width: 200px;
	border-style: dashed;
	border-color: #A4829D;
}
body {
	background-color: #E3F4DF;
}
.bfont	{
	font-size: 20px;
}
.bofont	{
	font-weight: bold;
}
li 	{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
ol	{
	content:counter(li);
	color:#5958A0;
}
.wrapper	{
	width: 45%;
	margin: 0 auto;
	background-color: white;
}
footer	{
	text-align: center;
}
a:visited	{
	color: #6CA0C2;
}
a:hover	{
	color:#E3A7E2;
}
a {
	color:#A4829D;
	display: block;
	padding: 5px;
	margin: 7px auto;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	font-size: 14px;
	background-color: #5958A0;
	width:40%;
	border: solid 2px #E3F4DF;
}
nav	{
	text-align: center;
}
.nocolorlink	{
	background-color: white;
}